In [35]:
import pandas as pd
from zipfile import ZipFile

In [36]:
# get the zip file
file = ZipFile('data.csv.zip')

# extract the test.csv
df_data = pd.read_csv(file.open("test.csv"), encoding='latin1')


df_data

,1,"I got 'new' tires from them and within two weeks got a flat. I took my car to a local mechanic to see if i could get the hole patched, but they said the reason I had a flat was because the previous patch had blown - WAIT, WHAT? I just got the tire and never needed to have it patched? This was supposed to be a new tire. \nI took the tire over to Flynn's and they told me that someone punctured my tire, then tried to patch it. So there are resentful tire slashers? I find that very unlikely. After arguing with the guy and telling him that his logic was far fetched he said he'd give me a new tire \""this time\"". \nI will never go back to Flynn's b/c of the way this guy treated me and the simple fact that they gave me a used tire!"
0,1,Don't waste your time. We had two different p...
1,1,All I can say is the worst! We were the only 2...
2,1,I have been to this restaurant twice and was d...
3,1,Food was NOT GOOD at all! My husband & I ate h...
4,3,This is a tiny Starbucks and it locations like...
...,...,...
49994,1,Just wanted to write a review to chip in with ...
49995,5,Great ambience. Great drinks. Great food. I lo...
49996,4,I have been to the other Monks locations so I ...
49997,2,Don't go here. I know you might want to try i...
49998,1,Buffet was recently open after renovation so m...

In [37]:
# first review is in the column title, make it a row and add column names
df_data = df_data.T.reset_index().T.reset_index(drop=True).set_axis(['Stars', 'Review'], axis = 1)


df_data.head()

  Stars                                             Review
0     1  I got 'new' tires from them and within two wee...
1     1  Don't waste your time.  We had two different p...
2     1  All I can say is the worst! We were the only 2...
3     1  I have been to this restaurant twice and was d...
4     1  Food was NOT GOOD at all! My husband & I ate h...

In [38]:
df_data.info() # check for null values & datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Stars   50000 non-null  object
 1   Review  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [39]:
# convert Review column to string
df_data['Review'] = df_data['Review'].astype(str)

# convert Stars to int
df_data['Stars'] = df_data['Stars'].astype(int)

In [40]:
# describe the data
df_data.describe()

              Stars
count  50000.000000
mean       3.000000
std        1.414228
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000

In [41]:
# check duplicates
df_data.iloc[:, 1].duplicated().sum()

0

In [42]:
# check for null values
df_data.isnull().sum()

Stars     0
Review    0
dtype: int64

In [43]:
# create a function that removes all weird chars and double spaces in each review
def remove_words(row):
    row['Review'] = row['Review'].replace("\\n", "")
    row['Review'] = row['Review'].replace("\\", "")
    row['Review'] = row['Review'].replace("  ", " ")
    
    return row

# apply the function to the dataframe
df_data.apply(remove_words, axis = 1)

       Stars                                             Review
0          1  I got 'new' tires from them and within two wee...
1          1  Don't waste your time. We had two different pe...
2          1  All I can say is the worst! We were the only 2...
3          1  I have been to this restaurant twice and was d...
4          1  Food was NOT GOOD at all! My husband & I ate h...
...      ...                                                ...
49995      1  Just wanted to write a review to chip in with ...
49996      5  Great ambience. Great drinks. Great food. I lo...
49997      4  I have been to the other Monks locations so I ...
49998      2  Don't go here. I know you might want to try it...
49999      1  Buffet was recently open after renovation so m...

[50000 rows x 2 columns]

In [44]:
# only keep rows where Reviews are greater than 20 letters

df_data = df_data.loc[df_data.iloc[: , 1].str.len() > 20, :]

In [48]:
df_data.to_csv('data_initialEDA.csv', index = False)